// reusable components

.button {
  padding: 13px 36px;
  border-radius: 28px;

  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
  transition: 0.3s ease-in;
  // width: 240px;
  width: clamp(240px, 64vw, 64vw);

  @media only screen and (min-width: $desktop) {
    padding: 13px 28px;
    width: clamp(163px, 11.3194444444vw, 11.3194444444vw);
  }
}

.button:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

.button--cyan {
  background: $strong-cyan;
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}


.button--blue {
  background: #6174ff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.heading--two {
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.4565216898918152px;

  @media only screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.5869565010070801px;
  }
}

.heading--three {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.3913043141365051px;
}

.paragraph--730 {
  @media only screen and (min-width: $desktop) {
    max-width: 730px;
  }
}

.paragraph--small {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.11999999731779099px;
}
