// reusable components

.button {
  padding: 0.8125rem 2.25rem;
  border-radius: 1.75rem;

  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.875rem;
  letter-spacing: 0.0313rem;
  text-align: center;
  color: white;
  transition: 0.3s ease-in;
  width: clamp(15rem, 64vw, 64vw);

  @media only screen and (min-width: $desktop) {
    padding: 0.8125rem 1.75rem;
    width: clamp(10.1875rem, 11.3194444444vw, 11.3194444444vw);
  }
}

.button:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

.button--cyan {
  background: $strong-cyan;
  box-shadow: 0rem 0.625rem 1.25rem rgba(137, 229, 199, 0.503305),
    inset 0rem -0.1875rem 0rem rgba(0, 0, 0, 0.151333);
}

.button--blue {
  background: #6174ff;
  box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.0988035),
    inset 0rem -0.1875rem 0rem rgba(0, 0, 0, 0.151333);
}

.heading--two {
  font-size: 1.75rem;
  line-height: 2.1875rem;
  letter-spacing: -0.0285rem;

  @media only screen and (min-width: $desktop) {
    font-size: 2.25rem;
    line-height: 2.8125rem;
    letter-spacing: -0.0367rem;
  }
}

.heading--three {
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.0245rem;
}

.paragraph--730 {
  @media only screen and (min-width: $desktop) {
    max-width: 45.625rem;
  }
}

.paragraph--small {
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 0.0075rem;
}
