/*----------------------------
      layout
 ----------------------------*/
 main {
  margin: 0 32px;
  text-align: center;
}
/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 123px 32px 160px;
  background: url(../images/bg-header-mobile.png) no-repeat;
  background-position: top;
  background-size: contain;

  &__heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.52173912525177px;
    margin: 64px 0 16px;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 48px 0 0;
  }

  &__button--cyan {
    background: $strong-cyan;
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }

  &__button--blue {
    background: #6174ff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }
}

/*----------------------------
      snippets section 
----------------------------*/
.snippets {

  &__paragraph-one {
    margin: 16px 0 65px;
  }

  &__image-container {
    margin: 0 0 56px;
  }

  &__paragraph-two {
    margin: 10px 0 48px;
  }
}

/*----------------------------
      access section 
----------------------------*/
.access {
  margin: 186px 0 118px;
  &__paragraph {
    margin: 16px 0 64px;
  }
}



/*----------------------------
      workflow section 
----------------------------*/
.workflow {

  &__paragraph {
    margin: 11px 0 90px;
  }
  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    margin: 40px 0 18px;
  }

  &__company-logos {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
    margin: 131px 0 170px;
  }
}


/*----------------------------
      footer section 
----------------------------*/