/*----------------------------
      layout
 ----------------------------*/

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 123px 32px 160px;
  background: url(../images/bg-header-mobile.png) no-repeat;
  background-position: top;
  background-size: contain;

  &__heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.52173912525177px;
    margin: 64px 0 16px;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 48px 0 0;
  }

  &__button--cyan {
    background: $strong-cyan;
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }

  &__button--blue {
    background: #6174ff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }
}

/*----------------------------
      footer section 
----------------------------*/
