/*----------------------------
      layout
 ----------------------------*/
main {
  margin: 0 32px 170px;
  text-align: center;
}
/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 123px 32px 160px;
  background: url(../images/bg-header-mobile.png) no-repeat;
  background-position: top;
  background-size: contain;

  @media only screen and (min-width: $desktop) {
    background: url(../images/bg-header-desktop.png) no-repeat;
    padding: 130px 0 152px;
  }

  &__heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.52173912525177px;
    margin: 64px 0 16px;

    @media only screen and (min-width: $desktop) {
      font-size: 46px;
      line-height: 58px;
      letter-spacing: -0.75px;
      text-align: center;
      margin: 56px 0 16px;
    }
  }

  @media only screen and (min-width: $desktop) {
    &__paragraph {
      max-width: 600px;
    }
  }


  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 48px 0 0;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      margin: 48px 0 0;
    }
  }

  &__button--cyan {
    background: $strong-cyan;
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }

  &__button--blue {
    background: #6174ff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }
}

/*----------------------------
      snippets section 
----------------------------*/
.snippets {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__paragraph-one {
    margin: 16px 0 65px;

    @media only screen and (min-width: $desktop) {
      margin: 19px 80px;
    }
  }

&__container {
  @media only screen and (min-width: $desktop) {
    display: flex;
    gap: 110px;

  }
}

  &__image-container {
    margin: 0 0 56px;
  }

  &__paragraph-two {
    margin: 10px 0 48px;
  }
}

/*----------------------------
      access section 
----------------------------*/
.access {
  margin: 186px 0 118px;
  &__paragraph {
    margin: 16px 0 64px;
  }
}

/*----------------------------
      workflow section 
----------------------------*/
.workflow {
  &__paragraph {
    margin: 11px 0 90px;
  }
  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    margin: 40px 0 18px;
  }

  &__company-logos {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
    margin: 131px 0 161px;
  }
}

/*----------------------------
      cta section 
----------------------------*/
.cta {
  &__paragraph {
    margin: 16px 0 0;
  }
}

/*----------------------------
      footer section 
----------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  background-color: hsla(201, 11%, 66%, 0.1);
  // opacity: 0.1;

  &__icon-container {
    width: 55px;
    margin: 0 0 40px;
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__nav-link {
    line-height: 30px;
    letter-spacing: 0.13500000536441803px;
    color: #4c545c;
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 48px 0 51px;
  }
}
