/*----------------------------
      layout
 ----------------------------*/
 main {
  margin: 0 32px 170px;
  text-align: center;

  @media only screen and (min-width: $desktop) {
    margin: 0 0 152px;
    // text-align: unset;
  }
}
/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 123px 32px 160px;
  background: url(../images/bg-header-mobile.png) no-repeat;
  background-position: top;
  background-size: contain;

  @media only screen and (min-width: $desktop) {
    background: url(../images/bg-header-desktop.png) no-repeat;
    background-size: contain;
    padding: 130px 0 152px;
  }

  &__heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.52173912525177px;
    margin: 64px 0 16px;

    @media only screen and (min-width: $desktop) {
      font-size: 46px;
      line-height: 58px;
      letter-spacing: -0.75px;
      text-align: center;
      margin: 56px 0 16px;
    }
  }

  @media only screen and (min-width: $desktop) {
    &__paragraph {
      max-width: 600px;

      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.15000000596046448px;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 48px 0 0;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      margin: 48px 0 0;
    }
  }

  &__button--cyan {
    background: $strong-cyan;
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }

  &__button--blue {
    background: #6174ff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
      inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }
}

/*----------------------------
      snippets section 
----------------------------*/
.snippets {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  &__paragraph-one {
    margin: 16px 0 65px;

    @media only screen and (min-width: $desktop) {
      margin: 19px auto 80px;
    }
  }

  &__container {
    @media only screen and (min-width: $desktop) {
      display: flex;

      gap: 78px;
    }
  }

  &__image-container {
    margin: 0 0 56px;

    @media only screen and (min-width: $desktop) {
      position: relative;
      left: -32px;
    }
  }

  &__features {
    @media only screen and (min-width: $desktop) {
      text-align: left;
      max-width: 350px;
      padding: 67px 0 0;
      // margin: auto 0;
    }
  }

  &__paragraph-two {
    margin: 10px 0 48px;

    @media only screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.11999999731779099px;

      margin: 8px 0 56px;
    }
  }
}

/*----------------------------
      access section 
----------------------------*/
.access {
  margin: 186px 0 118px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $desktop) {
    margin: 93px 0 72px;
  }
  &__paragraph {
    margin: 16px 0 64px;

    @media only screen and (min-width: $desktop) {
      margin: 19px 0 101px;
    }
  }
}

/*----------------------------
      workflow section 
----------------------------*/
.workflow {
  @media only screen and (min-width: $desktop) {
    padding: 0 165px;
  }
  &__paragraph {
    margin: 11px 0 90px;

    @media only screen and (min-width: $desktop) {
      margin: 19px 0 72px;
    }
  }
  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      gap: 30px;
      // padding: 0 165px;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      max-width: 350px;
    }
  }

  &__heading {
    margin: 40px 0 18px;
  }

  &__company-logos {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
    margin: 131px 0 161px;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      margin: 157px 0 ;
    }
  }
}

/*----------------------------
      cta section 
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__paragraph {
    margin: 20px 0 0;
  }
}

/*----------------------------
      footer section 
----------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  background-color: hsla(201, 11%, 66%, 0.1);

@media only screen and (min-width: $desktop) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 39px 165px;

}

  &__icon-container {
    width: 55px;
    margin: 0 0 40px;
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-align: center;
    // gap: 20px;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      text-align: left;
    }
  }

  &__nav-item {
    @media only screen and (min-width: $desktop) {
      width: 160px;
      align-self: flex-start;
    }
  }

  &__nav-link {
    line-height: 30px;
    letter-spacing: 0.13500000536441803px;
    color: #4c545c;
    margin: 0 0 20px;
    display: block; 
    
    @media only screen and (min-width: $desktop) {
      margin: 0 0 12px;
    }
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 48px 0 51px;

    @media only screen and (min-width: $desktop) {
      padding: 0;
      align-self: center;
    }
  }
}
